#card-container {
    width: 284px;
    margin: 0px 4px;
    padding: 0px 4px;
}

#card-title-container {
    justify-content: space-between;
    align-items: flex-start;

}

.card-li {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 6px 8px 2px;
}

.card-title {
    font-size: 15px;
    outline-color: #026AA7;
    flex-grow: 1;
    padding: 0px 0px 0px 5px;
    margin: 0px 5px 4px 0px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.card-title:hover {
    background-color: #091e4214;
    border-radius: 4px;
    cursor: pointer;
}

#card-delete-btn:hover {
    cursor: pointer;
    color: red;
}

.card-edit-errors {
    font-size: 12px;
    color: red;
    display: none;
}

.card-add-errors {
    margin: 0px 0px 5px;
    font-size: 12px;
    color: red;
}