/* LIST TITLE */
#list-title-container {
    margin: 2px 4px 0px;
    padding: 0px 2px;
    justify-content: space-between;
}

.list-edit-error {
    margin: 0px 10px 5px;
    padding: 0px 5px 0px;
    font-size: 12px;
    color: red;
    display: none;
}

.list-title {
    font-size: 15px;
    color: #172b4d;
    margin: 5px 0px 5px 3px;
    flex-grow: 1;
    padding: 0px 5px 0px;
    outline-color: #026AA7;
    overflow-wrap: break-word;
    overflow: hidden;
}

.list-title:hover {
    background-color: #091e4214;
    border-radius: 4px;
    cursor: pointer;
}

#list-delete-btn {
    font-size: 20px;
}

#list-delete-btn:hover {
    cursor: pointer;
    color: red;
}

#card-container {
    max-height: 775px;
    overflow: auto;
}

/* ADD CARD */
.add-card-container {
    margin: 2px 0px 7px 0px;
    padding: 0px 0px 0px 3px;
}

.add-card-container-input {
    margin: 2px 0px 7px 0px;
    padding: 0px 0px 0px 3px;
}

.add-card-container:hover {
    cursor: pointer;
    background-color: #091e4214;
    border-radius: 4px;
}

.add-card-text-container {
    padding-top: 2px;
    padding-bottom: 4px;
}

#add-card-text {
    font-size: 15px;
    margin-bottom: 5px;
}

/* ADD CARD FORM */
.add-card-input {
    /* outline-color: transparent; */
    outline-color: #026AA7;
    padding: 3px 5px 3px 3px;
    /* margin-bottom: 10px; */
    width: 254px;
    height: 20px;
}

#add-card-btn {
    background: #0079bf;
    width: 74px;
    height: 25px;
    padding: 4px 8px;
    color: white;
    border: transparent;
    border-radius: 4px;
    margin-bottom: 10px;
}

#add-card-btn:hover {
    background-color: #026aa7;
    cursor: pointer;
}

#add-card-btn:disabled {
    background-color: #026ba77a;
    cursor: not-allowed;
}