/* USER */
#user-navbar {
    position: sticky;
    left: 0px;
    background-color: #026AA7;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    z-index: 2;
}

#user-left {
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

#user-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;
    height: 20px;
}



#nav-board {
    text-decoration: none;
    color: white;
    padding: 4px 8px;
    border-radius: 3px;
}

#nav-board:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#nav-create {
    color: white;
    padding: 4px 8px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

#nav-create:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

#nav-create-form-container {
    width: 300px;
    height: 160px;
    /* position: fixed; */
    position: absolute;
    /* top: 50px; */
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(9, 30, 66, 0.493);
    border-radius: 3px;
    z-index: 1;
}

#nav-create-form {
    margin: 5px;
    /* position: fixed;
    top: 45px;
    background-color: white;
    border: 1px solid black; */
}

#nav-create-label {
    text-align: center;
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(9, 30, 66, 0.493);
}

#nav-create-title {
    margin-top: 10px;
    font-weight: 700;
    color: #5e6c84;
    font-size: 13px;
}

#nav-create-input {
    margin-bottom: 8px 0px 1px;
    padding: 4px 8px;
    outline-color: #026AA7;
    border: 1px solid #afb3b8;
}

#create-required {
    color: red;
    font-size: 13px;
}

#create-btn {
    color: white;
    background-color: #026AA7;
    border: transparent;
    padding: 4px 8px;
    border-radius: 3px;
    margin-top: 8px;
}

#create-btn:hover {
    cursor: pointer;

}

#create-btn:disabled {
    color: #00000069;
    font-weight: 400;
    background-color: #cecece;
}

/* NONUSER */
#nonuser-navbar {
    position: sticky;
    top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #eae6ff;
    transition: background-color 1s ease 0s;
    /* width: 98%; */
}

#nonuser-navbar.scrolled {
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transition: background-color 1s ease 0s;
}

#nonuser-right {
    justify-content: space-between;
    align-items: center;
}

#nonuser-logo {
    height: 35px;
}

#login {
    font-family: sans-serif;
    font-size: 17.5px;
    color: #0065FF;
    text-decoration: none;
    padding: 4px 10px;
}

#signup {
    font-family: sans-serif;
    font-size: 17.5px;
    width: 80px;
    height: 36.25px;
    color: white;
    background: #0065FF;
    padding: 4px, 8px;
    border-radius: 4px;
    border: 1px solid transparent
}

#signup:hover {
    background-color: #0051cc;
    cursor: pointer;
}

#logout-btn {
    border: 1px solid #1d1c1d4d;
    font-weight: 700;
    background: #fff;
    padding: 0 8px 1px;
    font-size: 13px;
    border-radius: 4px;
    color: rgb(29, 28, 29);
    height: 28px;
    min-width: 56px;
    margin-right: 20px;
}

#logout-btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 8%);
    background: rgba(248, 248, 248, 1);
}