/* USER */
#user-navbar {
    position: sticky;
    left: 0px;
    background-color: #026AA7;
    height: 44px;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

#user-left {
    justify-content: space-around;
    align-items: center;
    width: 500px;
}

#user-logo {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 25px;
    height: 20px;
}

/* NONUSER */
#nonuser-navbar {
    position: sticky;
    top: 0px;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #eae6ff;
    transition: background-color 1s ease 0s;
    /* width: 98%; */
}

#nonuser-navbar.scrolled {
    position: sticky;
    top: 0px;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    transition: background-color 1s ease 0s;
}

#nonuser-right {
    justify-content: space-between;
    align-items: center;
}

#nonuser-logo {
    height: 35px;
}

#login {
    font-size: 17.5px;
    color: #0065FF;
    text-decoration: none;
    padding: 4px 10px;
}

#signup {
    font-family: sans-serif;
    font-size: 17.5px;
    width: 80px;
    height: 36.25px;
    color: white;
    background: #0065FF;
    padding: 4px, 8px;
    border-radius: 4px;
    border: 1px solid transparent
}

#signup:hover {
    background-color: #0051cc;
    cursor: pointer;
}